      
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="../foundation/css/foundation.css">
    <link rel="stylesheet" href="../foundation/css/app.css">
    
    <style type="text/css">
      h1 {
        color:#ff6e00;
        background-color:#6b6a6a;
      }
      .logo {
        position:absolute;
        left:0%; 
        width:150px;
        height:67px;
      
      }
    </style>
  </head>
  <body>
    <img class="logo" src="images/logo.jpg">
    
   <center><h1>ServeKnox Ideas Festival</h1></center> 
<h3> An event by West High Students </h3>
<div class="row"><p>The ServeKnox ideas festival aims to highlight student initiatives in our community and to encourage other students to serve.</p></div>

 <div class="row">
          <div class="large-6 medium-6 columns">
            <div class="callout">
              <p>Volunteers</p>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div class="callout">
              <p>Organizations</p>
            </div>
          </div>
        </div>
         </div>     
              
   </body>
   </html>
   