{% extends 'main.twig' %} 
{% block content %} 

<link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' 
rel='stylesheet' type='text/css'>


    <!-- main content goes here -->
    <header class="row">
      <div class="small-12 columns">
        <h1 class="text-center">About Us</h1>
      </div>
    </header>
    
    <div class="row ad-block">
      
      <div class="medium-6 medium-push-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>
      
      <div class="medium-6 medium-pull-6 columns">
        
        <p>Our Vision – Inspire students to get involved in positive initiatives
        and encourage the celebration of service work in the community of Knoxville. 
        Our Mission – Raise awareness of the positive student initiatives in the Knoxville Area 
        and encourage, empower, and help students get involved in these positive initiatives.
        </p>
      
      </div>
      
    </div>
    
    <div class="row ad-block">
      
      <div class="medium-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>
      
      <div class="medium-6 columns">
        <p>"The banana is an edible fruit, botanically a berry,[1][2] produced by several kinds of large herbaceous flowering plants in the genus Musa.[3] In some countries, bananas used for cooking may be called plantains, in contrast to dessert bananas. The fruit is variable in size, color and firmness, but is usually elongated and curved, with soft flesh rich in starch covered with a rind which may be green, yellow, red, purple, or brown when ripe. The fruits grow in clusters hanging from the top of the plant. Almost all modern edible parthenocarpic (seedless) bananas come from two wild species – Musa acuminata and Musa balbisiana. The scientific names of most cultivated bananas are Musa acuminata, Musa balbisiana, and Musa × paradisiaca for the hybrid Musa acuminata × M. balbisiana, depending on their genomic constitution. The old scientific name Musa sapientum is no longer used." -Wikipedia</p>
      </div>
      
    </div>
    
    <div class="row ad-block">
      
      <div class="medium-6 medium-push-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>
      
      <div class="medium-6 medium-pull-6 columns">
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
      </div>
      
    </div>
    
    <div class="row ad-block">
      
      <div class="medium-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>
      
      <div class="medium-6 columns">
        <p>Despicable Me is a 2010 American 3D computer-animated comedy film from Universal Pictures and Illumination Entertainment that was released on July 9, 2010 in the United States. It is Illumination Entertainment's first film. The film was animated by the French animation studio Mac Guff, which was later acquired by Illumination Entertainment.[6] It was directed by Pierre Coffin and Chris Renaud as their feature debut film, with a story by Sergio Pablos. The film stars the voice of Steve Carell as Gru, a supervillain who adopts three girls (voiced by Miranda Cosgrove, Dana Gaier, and Elsie Fisher) from an orphanage; and the voice of Jason Segel as Vector, a rival of Gru who steals the Great Pyramid of Giza. When Gru learns of Vector's heist, he plans an even greater heist: to shrink and steal the Earth's moon.</p>

<p>The film earned positive reviews from critics, and grossed over $543 million worldwide, against a budget of $69 million.[5] It launched the Despicable Me franchise with a series of films, including the sequel Despicable Me 2 in 2013, and the prequel Minions released in 2015 featuring Gru's Minions as the main characters.[7] Another sequel, Despicable Me 3, is scheduled for release in 2017.[8]

</p>
        </div>
      
    </div>
    

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>



{% endblock content %} 
{% block ind_link %} 
   <script>function sideNav() {
  if ($(window).width() < 769) {
    $('.off-canvas-wrap').removeClass('move-right');
    $('.left-off-canvas-toggle').show();
  } else {
    $('.off-canvas-wrap').addClass('move-right');
    $('.left-off-canvas-toggle').hide();
  }  
}

$(window).resize(function() {
  sideNav();
});
sss</script>
{% endblock ind_link %} 
 
 