<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="../foundation/css/foundation.css">
    <link rel="stylesheet" href="../foundation/css/app.css">
  </head>
  <body>
      
      <h1>Serve Knox</h1>
      
      
      <form>
          <label style="margin-left:5%; margin-right:5%;">Organization Name:
        <input type="text" placeholder=".medium-6.columns">
          </label >
          <fieldset class="fieldset">
              <legend>Address</legend>
          <label style="margin-left:5%; margin-right:5%;">Street:
        <input type="text" placeholder=".medium-6.columns">
            <label>Zip Code:</label>
                <input type="text" placeholder=".medium-6.columns">
                
          </label>
          
          </fieldset>
          <label style="margin-left:5%; margin-right:5%;">Leader's Name:
        <input type="text" placeholder=".medium-6.columns">
          </label>
          <label style="margin-left:5%; margin-right:5%;">Description: 
        <input type="text" placeholder=".medium-6.columns">
          </label>
        <button style="margin-left:5%; margin-right:5%;" type="submit" class ="success button">Submit</button>
        <button style="margin-left:5%; margin-right:5%;" type="submit" class ="alert button">Cancel</button>
        
      </form>
      
      
      
    <script src="../foundation/js/vendor/jquery.js"></script>
    <script src="../foundation/js/vendor/what-input.js"></script>
    <script src="../foundation/js/vendor/foundation.js"></script>
    <script src="../foundation/js/app.js"></script>
  </body>
</html>
