{% extends 'main.twig' %} 
{% block content %} 

<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css'
rel='stylesheet' type='text/css'>

<div class="off-canvas-wrap move-right" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>



    <!-- main content goes here -->
    <div class="row">
      <div class="medium-2 columns">
            <!-- Off Canvas Menu -->

      
    </aside>
      </div>
      <div class="medium-10 columns">
        <div class="row">
          
        <h1>Event of the Month</h1>
        <img src="http://placehold.it/800x650&text=main image">
         <h2>
           Event Name Here
         </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac maximus ligula, id elementum enim. Donec faucibus nisl sapien, quis placerat diam pretium a. Morbi luctus malesuada lorem non aliquet. Donec sed massa fringilla augue consequat semper quis placerat mauris. Sed justo lectus, fermentum ac urna et, dictum porta magna. Suspendisse vehicula bibendum purus, et ullamcorper tellus ultricies et. Etiam suscipit placerat dolor, sed venenatis nisl tristique non.
</p>
<p>Suspendisse dictum nisi vitae urna ultrices malesuada. Ut tempus a nisl a dapibus. Aliquam semper eros nec rutrum sodales. Proin tristique vitae dui mattis ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tincidunt bibendum lobortis. Proin bibendum nulla id varius iaculis. Quisque eu nisi ligula. In nulla odio, malesuada quis sagittis eget, elementum ac elit. Donec id iaculis augue, et faucibus arcu. Praesent at pretium quam, efficitur fringilla diam. Suspendisse urna orci, rutrum in ultricies at, viverra vel felis. Curabitur suscipit metus tortor. Pellentesque sit amet scelerisque turpis. Nunc vel rutrum turpis, ac tincidunt elit.
</p>
<p>Aliquam eu turpis turpis. Vivamus fermentum diam eget nulla maximus, sit amet convallis risus luctus. Nam enim orci, venenatis vitae est sed, lacinia volutpat neque. Curabitur sit amet tortor faucibus, bibendum nulla nec, tincidunt tellus. Fusce facilisis convallis mi, vitae euismod neque pulvinar a. Vivamus sed libero mi. Morbi sollicitudin elementum justo ac porta.
</p>
<p>Praesent vitae nibh in mauris iaculis tincidunt. Aliquam erat volutpat. Nulla facilisi. Cras accumsan lectus ut lacus malesuada, eget tincidunt turpis accumsan. Donec fermentum nisl urna, ac blandit nisi dignissim lobortis. Nunc interdum sed mauris at pellentesque. Etiam rutrum elit vitae justo vestibulum viverra. Vivamus aliquam tellus eu nisl vehicula semper. Etiam elementum mattis nisl, eget maximus ipsum tempus sed. Donec ut nunc a risus mattis accumsan. Fusce id lacinia ipsum, finibus gravida erat. Etiam ante nisi, convallis a bibendum non, iaculis sit amet sem. Pellentesque pulvinar arcu neque, sit amet elementum neque lacinia eu. Suspendisse condimentum tincidunt mauris, in tempor augue. Aenean a suscipit tortor. Donec egestas turpis orci.
</p>    
    </div>
    
    

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>



{% endblock content %} 
{% block ind_link %} 

 {% endblock ind_link %} 
 
 