{% extends 'main.twig' %}

{% block ind_link %}
    <link rel="stylesheet" href="/views/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
{% endblock ind_link %}

{% block act_link %} 
    class="is-active"
{% endblock act_link %}

{% block content %}
    
    <div class="row features">
      <div class="medium-4 columns">
        <div class="round-icon">
          <span class="fi-widget"></span>
        </div>
        <h3>What are we?</h3>
        <hr>
        <p>ServeKnox is built to help people of all kinds to get involved in the community, whether it be for community service or genuine interest in helping others.</p>
      </div>
      <div class="medium-4 columns">
        <div class="round-icon">
          <span class="fi-graph-bar"></span>
        </div>
        <h3>How are we going to do it?</h3>
        <hr>
        <p>We have a system that allows people to register events that need volunteering, allowing others who want to volunteer to sign up for those events.</p>
      </div>
      <div class="medium-4 columns">
        <div class="round-icon">
          <span class="fi-download"></span>
        </div>
        <h3>Why are we doing this?</h3>
        <hr>
        <p>Many extracurricular activities require people to volunteer so many hours for the community, but it may be difficult for them to find places to volunteer.</p>
      </div>     
    </div>
    
    <!-- Requires Foundation 4 | visit http://foundation.zurb.com to download -->

<!-- Header and Nav -->
 
  <!-- First Band (Image) -->
 
  <div id="jumbotron" class="row">
    <div class="large-12 columns">
      <img src="http://www.meus.co/sites/default/files/blog-primary-images/o-HELPING-HAND-facebook.jpg">
 
      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->
 
  <div class="row">
    <div class="large-4 columns">
      <img src="http://cdn.tinybuddha.com/wp-content/uploads/2015/08/Helping-Hand.png">
    </div>
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
      <div class="row">
        <div class="large-6 columns">
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="large-6 columns">
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
      </div>
    </div>
  </div>
 
 
  <!-- Third Band (Image Right with Text) -->
 
  <div class="row last">
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
 
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
    </div>
    <div class="large-4 columns">
      <img src="http://www.thegatewaycenter.org/wp-content/uploads/2010/09/vision-community.jpg">
    </div>
  </div>

 
 
{% endblock content %}